@keyframes github-link-show{
  0%{
    transform: translateY(50px);
  }
  100%{
    transform: translateY(0px);
  }
}

@keyframes github-link-hide{
  0%{
    transform: translateY(0px);
  }
  100%{
    transform: translateY(50px);
  }
}

.github-message{
  width: 802px;
  margin: 0 auto;
  background: #ffcdd2;
  color: #b61b17;
  padding: 5px 3px 9px 45px;
  position: absolute;
  left: 0;
  bottom: calc(100% - 5px);
  z-index: 0;
  border-radius: 5px;
  animation: github-link-show 250ms ease-in-out forwards, github-link-hide 300ms 4s ease-in-out forwards;
}

.github-message p{
  font-size: 0.8em;
  margin: 0px;
}

.github-message a{
  color: #b61b17;
  cursor: pointer;
}

.fork-in-progress{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #FFFFFF;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 1;
  opacity: 0;
  transition: all 500ms;
  animation: show 100ms ease-in-out forwards;
}

.fork-in-progress h1, .fork-in-progress h4{
  margin-top: 0px;
}

@keyframes show{
  0%{
    opacity: 0;
  }
  100%{
    opacity: 1;
  }
}