.profile{
  padding: 20px 50px;
  width: 600px;
  margin: 0 auto;
  border-left: 1px solid rgb(211, 211, 211);
}
.container > h1{
  width: 90%;
  padding-left: 24px;
  margin-bottom: 30px;
}
.profile > div{
  width: 500px;
  margin: 0 auto;
  margin-bottom: 50px;
}
.profile label{
  display: flex;
  margin-bottom: 6px;
}
.profile input{
  padding: 10px 10px;
  font-size: 18px;
  border-radius: 2px;
  margin: 0 0 12px 0;
  width: calc(100% - 22px);
}
.gravatar{
  border-radius: 50%;
  margin: 0 auto 20px auto;
  display: block;
}
